

#startseite_button {
    border-radius: 24px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(144, 171, 238, 0.32);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    -webkit-transition: color, background-color 0.3s;
    transition: color, background-color 0.3s;
}

#startseite_button:hover {
    color: white;
    background-color: rgba(144, 171, 238, 0.89);
}

main {
    height: calc(100vh - 100px);
    padding: 0 40px 40px 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.dashboard-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 30px;
    height: 100%;
    width: 100%;
}

#listen-container {
    width: 450px;
    height: 100%;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    padding-right: 10px;
}

.link-container {
    border: 1px solid rgba(144, 171, 238, 0.32);
    background-color: rgba(77, 115, 252, 0.05);
    padding: 20px;
    cursor: pointer;
    border-radius: 15px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.link-container:hover {
    background-color: rgba(144, 171, 238, 0.2);
}

.row-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 15px;
}

.row-bottom {
    font-size: 13px;
    color: #7A7F85;
    word-break: break-all;
}

/*Diagramm*/
#diagramm-bereich {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: 1px solid rgba(144, 171, 238, 0.32);
    background-color: rgba(77, 115, 252, 0.05);
    border-radius: 20px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#zeitraum-btn {
    border-radius: 24px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(144, 171, 238, 0.32);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    -webkit-transition: color, background-color 0.3s;
    transition: color, background-color 0.3s;
    margin-bottom: 30px;
}

#zeitraum-btn:hover {
    background-color: rgba(144, 171, 238, 0.89);
}

#listen-container::-webkit-scrollbar {
    width: 8px;
}
#listen-container::-webkit-scrollbar-track {
    background: transparent;
}
#listen-container::-webkit-scrollbar-thumb {
    background: rgba(144, 171, 238, 0.32);
    border-radius: 10px;
}